*{
    margin: 0;
    font-family: Verdana; 
}

body{
    background: url("theme10-img.jpg");
    background-size: cover;
    color: white;
} 
.main{ 
    position: relative;
    overflow-y: auto;
    height: 96.5vh;
    padding: 10px;
    margin: 2px;
    font-size: small;
} 

.dot{
    cursor: pointer;
    height: 15px; 
    width: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.active, .dot:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.slides{
    height: 94%;
    display: grid;
    place-items: center;
}
.mySlides{
    padding: 20px;
    width: 50%;  
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);

}
.slide-img img{
    height: 200px;
}
.prev, .next {
    cursor: pointer;
    position: fixed;
    top: 50%; 
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.next {
    right: 11px;
    border-radius: 3px 0 0 3px;
}


@media screen and (max-width: 800px) {
    *{
        font-size: small;
    }
    .main{
        padding: 20px;
    } 
    .slides{
        height: 94%;
        display: grid;
        place-items: center;
    }
    .mySlides{
        padding: 20px;
        height: 100%;
        width: 100%; 
    }
    .slide-img img{
        height: 150px;
    }
    .slide-title{ 
        text-align: center;
    }
}