.main{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
}
.cover{
    outline: 1px solid rgb(137, 173, 250);
    width: 700px; 
}
.header{
    padding: 20px;
    background: #fff;
}
.body{
    padding: 20px;
}
.announcement{
    background-image: linear-gradient(to right, blue, #0593ffc7);
    padding: 50px;
    color: white;
    text-align: center; 
}
button{
    background-image: linear-gradient(to right, blue, #0593ffc7);
    border: none;
    border-radius: 5px;
    padding: 17px; 
    color: white; 
    font-size: normal;
    font-size: large;
    cursor: pointer;
}
.img{
    width: 100%;
    height: 300px;
    background-image: url("bitcoin.jpg");
    background-size: cover;
}
.btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}